:root {
  font-size: 10px;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0px;

  --font-size-large: 2rem;
  --font-size-medium: 1.6rem;
  --font-size-small: 1.4rem;
  --font-weight-bold: 800;
  --font-weight-medium: 500;

  --color-yellow: #f4d04e;
  --color-gray-dark: #111111;
  --color-gray-light: #6b6b6b;
  --color-white: #ffffff;
  --color-link: hsl(228, 45%, 44%);

  --spacing-xsmall: 0.4em;
  --spacing-small: 0.8em;
  --spacing-medium: 1.2em;
  --spacing-large: 2.4em;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--color-yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.card {
  background-color: var(--color-white);
  width: 32.7rem;
  border-radius: 2rem;
  padding: var(--spacing-large);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
  border: var(--color-gray-dark) solid 1px;
  box-shadow: var(--spacing-small) var(--spacing-small) 0 0 #000000;
  transition: box-shadow 0.3s cubic-bezier(0.47, 0, 0.74, 0.71);
}

.card-img {
  width: 100%;
  border-radius: 1rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.card-info > h2,
.card-info > p,
.card-title,
.card-author > figcaption {
  color: var(--color-gray-dark);
}

.card-info > h2 {
  background-color: var(--color-yellow);
  padding: var(--spacing-xsmall) var(--spacing-medium);
  max-width: fit-content;
  border-radius: var(--spacing-xsmall);
}

.card-content > header:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.card-title {
  transition: color 0.3s cubic-bezier(0.47, 0, 0.74, 0.71);
}

.card-summary {
  color: var(--color-gray-light);
}

.card-author {
  display: flex;
  gap: var(--spacing-medium);
  align-items: center;
}

.card-author > img {
  width: 3.2rem;
  height: 3.2rem;
}

.card:hover,
.card:focus {
  box-shadow: var(--spacing-medium) var(--spacing-medium) 0 0 #000000;
  cursor: pointer;
}

.card:hover .card-title {
  color: var(--color-yellow);
}
.card:focus .card-title {
  color: var(--color-yellow);
}

.text-large-bold {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
}

.text-medium {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-medium);
}

.text-small {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-small);
}

.text-small-bold {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: var(--color-link);
}
